<!-- The underscore `_navbar.ejs` is a common naming convention used to indicate that the file is a partial. -->
<link rel="stylesheet" href="/stylesheets/partials.css" />


<nav>
    <% if(user) { %>
      <div class="navbar">
        <img src="/public/images/logo.jpg" alt="Logo" width="52" />
        <div class="nav-links">
      <a class="authlink" href="/users/<%= user._id %>/events">Your Events</a>
      <a class="authlink" href="/auth/sign-out">Sign Out</a>
      </div>
      </div>
      
    <% } else { %>
      <div class="navbar">
        <h1 id="nav-header">Pro Event Tracker</h1>
        <div class="nav-links">
      <a class="authlink" href="/auth/sign-in">Sign In</a>
      <a class="authlink" href="/auth/sign-up">Sign Up</a>
      </div>
      </div>
    <% } %>
  </nav>
  


