<!-- The underscore `_navbar.ejs` is a common naming convention used to indicate that the file is a partial. -->


<nav>
    <% if(user) { %>
      <a href="/">Home Page</a> 
      <a href="/users/<%= user._id %>/events">Your Events</a>
      <a href="/auth/sign-out">Sign Out</a>
      
    <% } else { %>
      <a href="/">Home Page</a> 
      <a href="/auth/sign-in">Sign In</a>
      <a href="/auth/sign-up">Sign Up</a>
    <% } %>
  </nav>
  


