<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Pro Event Tracker</title>
  </head>


  <body class="index-body">
    <%- include('./partials/_navbar.ejs') %>                                  <!-- Adding the nav partial here -->
    <div class="index-container"> 
     <div class="text-container">
    <h1 class="main-header">Pro Event Tracker</h1>
    <p class="subheader">A user-friendly web application designed to help professionals efficiently manage and track conferences, seminars, and industry events.<br><br>With a focus on enhancing user engagement and career development, the app allows you to easily add, organize, and monitor the events you wish to attend. </p>
  </div>
  <div class="auth-links">
    <a class="signup-link" href="/auth/sign-up">Sign up</a> 
    <a class="signin-link" href="/auth/sign-in">Sign in</a>
  </div>
  </div>


  <%- include('./partials/_footer.ejs') %>  
</body>
</html>


