<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Pro Event Tracker</title>
  </head>

  <body>
           <%- include('./partials/_navbar.ejs') %>                                  <!-- Adding the nav partial here -->
 
<main class="page-container"> 

      <section class="hero-index-container"> 

              <div class="index-header"> 
                   <h1>Pro Event Tracker</h1>
                  </div>
                  <div class="index-subheader">
                           <p>A user-friendly web application designed to help professionals efficiently manage and track conferences, seminars, and industry events.<br><br>With a focus on enhancing user engagement and career development, the app allows you to easily add, organize, and monitor the events you wish to attend. </p>
                      </div>
      </section>
</main>

  <%- include('./partials/_footer.ejs') %>  
</body>
</html>


