<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pro Event Tracker</title>
  </head>



  <body>
    <%- include('../partials/_navbar.ejs') %>                                  <!-- Adding the nav partial here -->
    <h1>Pro Event Tracker</h1>
    <p>A user-friendly web application designed to help professionals efficiently manage and track conferences, seminars, and industry events.</p>
    <a href="/auth/sign-up">Sign up</a> 
    <a href="/auth/sign-in">Sign in</a>

</body>
</html>
