.navbar {
    height: 30px;
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    padding: 0px 0px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-size: 15px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif
}

#nav-header {
    color: #ce4866;
    size: 1em !important;
    margin: 0;
}

.authlink {
    width: 16px;
    height: 10px;
    background-color: white;
    border-radius: 30px;
    text-decoration: none;
    margin-right:10px;
    margin-left: 0px;
    color: #4b598e;
    border: 0.9px solid transparent; 
    padding: 0.3px 1.5px;
}

.authlink:hover{
    color: rgb(240, 237, 237);
    background-color: white;
}