
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #201c1c;
    margin: 0px;
}

.page-container {
    background-image: url('/images/index-page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex; /* Centering content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.hero-index-container {
    text-align: center; /* Center the text */
    max-width: 600px; /* Limit the width for readability */
    padding: 20px; /* Add padding */
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent background for readability */
    border-radius: 10px; /* Rounded corners */
}

.signin-container,
.signup-container {
    background-image: url('/images/sf.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    
}
.signin-header {
    font-size: 0.7em;
    width: 20%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.749);
    border-radius: 1.5rem;
    padding: 5px, 40px;
    margin: 12px;
}

.signup-header {
    font-size: 0.7em;
    width: 40%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.749);
    border-radius: 1.5rem;
    padding: 5px, 40px;
    margin: 12px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 15em;
    height: 50%;
    background-color: black;
    padding: 30px 40px 30px 40px;
    border-radius: 40px;
    color: white;
    font-weight: lighter;
}

input {
    border: 1px solid rgb(182, 182, 182);
    padding: 8px;
    border-radius: 20px;
}

button {
    padding: 8px;
    background-color: #ce4866;
    color: white;
    border-radius: 30px;
    border: none;
    margin: 11px 0 10px 0;
    font-size: 1.1em;
}

.hero-index-events-container {
    background-image: url('/images/test-logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.hero-index-events-header {
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    text-align: center;
    display: flex;
}

.hero-index-events-subheader {
    font-size: 0.7em;
    display: flex;
}
.hero-index-event-1 {
    background-color: #0c0c0c;
    color: white;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    border-radius: 0.2em;
}

.hero-index-event-2 {
    background-color: hsla(300, 3%, 30%, 0.995);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.2em
}

a {
    text-decoration: none;
}
.hero-index-events-header {
    font-size: 0.7em;
    font-weight: bold;
}

.add-event-link {
    padding: 10px;
    background-color: #ce4866;
    color: white;
    border-radius: 30px;
    border: none;
    font-size: 0.5em;
    padding: 2px 25px;
    text-decoration: none;
}
     
.add-event-link:hover {
    background-color: #e84a6c;
}

.hero-index-your-events {
    list-style: none;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
}

.hero-index-events-header {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding-bottom: 0%;
}

.websites-list {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    background-color: rgb(34, 33, 33);
}

.websites-list-links-1 {
    padding-bottom: 6%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    padding-bottom: 0%;
}

.main-some-post-header {
    font-size: 0.4em;
    background-image: url('/images/test-logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Aligns the background image to the bottom */
    height: 180px; /* Adjust height as needed */
    width: 100%;
    margin: px; 
    color: white;
    font-family:'Times New Roman', Times, serif;
}

.new-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}

.new-body> form,
.edit-body> form {
    height: 110%;
}

textarea,
select {
    border: 1px solid rgb(182, 182, 182);
    border-radius: 10px;
    padding: 5px;
}

select {
    margin-bottom: 10px;
}

.edit-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
