
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #201c1c;
    margin: 0px;
}

/*-------------------------------INDEX PAGE ----------------------*/

.index-body {
    background-image: url('https://media.istockphoto.com/id/1210965643/photo/skyscrapers-in-midtown-manhattan-new-york-city.jpg?s=612x612&w=is&k=20&c=QpsRk9MSkGf7IcRFZbFJwjo9cpi_hGppmzTHijTiRrI=');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    color: white;
}

.main-header {
    font-weight: bold;
    color: white;
    font-size: 5.6em;
    margin: -160px 20px 0 20px;
  }

.subheader {
    margin:  0 20px 0 20px;
    font-size: 1.4em;
}

.index-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.auth-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 80px 0 0;
    height: 100%;
}



.signup-link,
.signin-link {
    text-decoration: none;
    font-size: 1.5em;
    padding: 8px 0;
    border-radius: 25px;
    width: 10em;
    text-align: center;
}

.signup-link {
    background-color: #ce4866;
    color: white;
    margin: 0 0 20px 0;
}

.signup-link:hover {
    background-color: #ff5378;
}

.signin-link {
    background-color: #f6e7e7;
    color: #1c2e5b;
    margin: 20px 0 0 0;
}

.signin-link:hover {
    background-color: #ffffff;
}


/* ----------------Signin/ Signup ------------------------- */

.signin-container,
.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://media.istockphoto.com/id/1210965643/photo/skyscrapers-in-midtown-manhattan-new-york-city.jpg?s=612x612&w=is&k=20&c=QpsRk9MSkGf7IcRFZbFJwjo9cpi_hGppmzTHijTiRrI=');
    width: 100%;
    height: 100%;
    
}

h1 {
    font-size: 1.6em;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 15em;
    height: 50%;
    background-color: black;
    padding: 30px 40px 30px 40px;
    border-radius: 40px;
    color: white;
    font-weight: lighter;
}

input {
    border: 1px solid rgb(182, 182, 182);
    padding: 8px;
    border-radius: 20px;
  }

  button {
    padding: 8px;
    background-color: #ce4866;
    color: white;
    border-radius: 30px;
    border: none;
    margin: 10px 0;
    font-size: 1.1em;
  }

  /* ----------------INDEX PAGEEEE------------------------- */


  
.hero-index-events-container {
    background-image: url('/images/test-logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
     width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    
}

.hero-index-events-header {
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    text-align: center;
    display: flex;


}

.hero-index-events-subheader {
    font-size: 0.7em;
    display: flex;
    

}
.hero-index-event-1 {
    background-color: #0c0c0c;
    color: white;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    border-radius: 0.2em
}


.hero-index-event-2 {
    background-color: hsla(300, 3%, 30%, 0.995);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.2em

}

a {
    text-decoration: none;
}
.hero-index-events-header {
    font-size: 0.7em;
    font-weight: bold;
    
}

  .add-event-link {
    padding: 10px;
  background-color: #ce4866;
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 0.5em;
  padding: 2px 25px;
  text-decoration: none;
  }
     
  .add-event-link:hover {
    background-color: #e84a6c;
  }

  /* -----list of Events----- */

  /* *********************************** */

.hero-index-your-events {
    list-style: none;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
  }

  /* *********************************** */

  .hero-index-events-header {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding-bottom: 0%;


  }
/* ----------*/
.websites-list {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    background-color: rgb(34, 33, 33);
}

.websites-list-links-1 {
    padding-bottom: 6%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    padding-bottom: 0%;

}

.main-some-post-header {
    font-size: 0.4em;
    background-image: url('/images/test-logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Aligns the background image to the bottom */
    height: 180px; /* Adjust height as needed */
    width: 100%;
    margin: px; 
    color: white;
    font-family:'Times New Roman', Times, serif;

}

     
    /* ----------------NEW AND EDIT FORMS ------------------------- */

    .new-body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%
    }

    .new-body> form,
    .edit-body> form {
        height: 110%;
    }

    textarea,
    select {
        border: 1px solid rgb(182, 182, 182);
  border-radius: 10px;
  padding: 5px;
    }

    select {
        margin-bottom: 10px;
      }

      .edit-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
      }